
body {
    
}

.loader {
    display: none;
}

.loader img {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

.header {
    display: inline;
    border-bottom: 3px solid #a548c7;
    padding-bottom: 9px;
    margin-left: 12px;
}

hr {
    opacity: 0.4;
}

.totalSeats {
    background-color: #f2f1f1;
    max-height: 100%;
    width: 850px;
    position: absolute;
}

.nbSeats {
    display: table;
    margin-left: -35px;
}

.seatReserved {
    margin: -20px 0 0 12px;
}

.nbSeats li {
    list-style: none;
    width: 60px;
    height: 60px;
    background-color: #388d0e;
    margin: 5px;
    float: left;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: table-cell;
    border-radius: 2px;
}

ul li:hover {
    background-color: #4c80a8;
}

ul li.booked {
    background-color: #ca0000;
}

ul li.active {
    background-color: #c68d23;
}