<div class="totalSeats">
    <h6 class="header">PICK YOUR SEAT(S)</h6>
    <hr>
    <ul class="nbSeats">        
        <li ng-repeat="(key, seat) in seats" class="seats" ng-class="seat.is_booked ? 'booked': ''" ng-click="selectSeat($event, seat);"></li>
    </ul>
    <p class="seatReserved">You reserved <span id="nb_seats">0</span> seat(s) <span id="selected_seats"></span></p>
</div>